<section ng-controller="usersController as user">
  <h3>Register</h3>
  <form id="register" ng-submit="user.register()">

<label for="email">Email</label>
<input type="text" name="email" placeholder="Email" ng-model="user.user.email">

<label for="name">Name</label>
<input type="text" name="firstname" placeholder="Name" ng-model="user.user.firstname">

<label for="password">Password</label>
<input type="text" name="password" placeholder="Password" ng-model="user.user.password">

    <input type="submit" value="Commit">
  </form>
</section>